body{background:url(https://cdn.wallpapersafari.com/8/81/3ZPS9q.png);background-attachment:fixed;background-size:cover;}
.MuiBox-root{background:#ffffffe8;}
.MuiBox-root div{width:100%;}
header{background:#1960d2 !important;box-shadow:0 3px 7px #bbb8b8;position:fixed;top:0;width:100%;z-index:9;}
main{margin-top:100px}
header .MuiBox-root{background:none;}
.css-1pxm6m2-MuiButtonBase-root-MuiButton-root{border-radius:10px;}
button{border-radius:5px !important;padding:14px 0 !important;width:100%}
input[type=email],
input[type=password]{background:#fff;}
.css-61a1wk-MuiTypography-root{font-size:2.75rem;}
header a{color:#fff !important;opacity:1 !important;}
button.css-djcg5u-MuiButtonBase-root-MuiIconButton-root,
button.css-78trlr-MuiButtonBase-root-MuiIconButton-root{padding:10px !important;width:auto;}
.css-k008qs{float:right;padding:10px;}